<!DOCTYPE html>
<html lang="ja">
<head>
    {% load static %}
    <meta charset="utf-8">
    <title>調査に関するページ</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <link rel="stylesheet" href="{% static '/causalexp/css/top.css' %}">
    <script>
        function check_agreement1() {
            if (document.getElementById('agreement').checked) {
                document.getElementById('need_agree').style.display = "none";
                document.getElementById('when_agreeing').style.display = "inline-grid";
            } else {
                document.getElementById('need_agree').style.display = "inline-grid";
                document.getElementById('when_agreeing').style.display = "none";
            }
        }
        function check_agreement2() {
            let checks = document.getElementsByClassName("checks");
            let count = 0;
            for (let i = 0; i < checks.length; i++) {
                if (checks[i].checked) count++;
            }
            if (count == checks.length) {
                document.getElementById("button").removeAttribute("disabled");
            } else {
                document.getElementById("button").setAttribute("disabled", true);
            }
        }
    </script>
</head>

<body>
    
    <h1 id="examine_header">注意事項</h1>
    <h3>以下の内容をご確認の上、ご同意いただける場合「同意します」にチェックして、「開始する」をクリックしてください。</h3>

    <div style="padding: 5px 110px; ">
    <div style="background: #f3f9fc;border: 2px skyblue dashed; padding: 10px 10px; border-radius: 15px; text-align:left">
        <ul>
            <li>本調査で得られたデータは、個人を特定できない統計データとして学術研究に使用させていただきます。</p>
            <li>皆様の回答は全て暗号化し、サーバーに保存されます。</li>
            <li>また、個人のデータを取り出して分析が行われることもありません。</li>
            <li>アンケートが終了すると、８桁の数字列が表示されます。</li>
            <li>コピーしてクラウドワークスの該当欄に入力してください。</li>
            <li>回答内容を確認次第、確定処理をいたします。</li>
            <li>Webページをリロードしてしまうと初めのページに戻ってしまうので、リロードしないように気をつけてください。</li>
        </ul>
    </div>
    <br>
    
    <div id="need_agree">

    </div>
    <br>
    </div>
    <input type="checkbox" id="agreement" onclick="check_agreement1()" />
    <label for="agreement">同意します</label>
    <br>
    
    <p>
    <div id="when_agreeing" style="margin:auto; display:none;">
        <p>ありがとうございます。</p>
        <p>以下のストーリーをお読みいただき、回答ページに進んで下さい。</p>
        <p>それぞれの項目を読んだら左側のチェックボックスをチェックしてください。</p>
        <div id="scenario_descriptions" style="margin:auto; text-align: left;">
            <form action="cgi-bin/abc.cgi" method="post">
                <p>
                    <input class="checks" type="checkbox" id="checkbox1" style="transform:scale(1.5)"
                        onclick="check_agreement2()" />
                    <label for="checkbox1">これから「ラフマ症候群」と、それに対する治療薬に関して調査をしている 研究者を演じていただきます。</label>
                </p>
                <p>
                    <input class="checks" type="checkbox" id="checkbox2" style="transform:scale(1.5)"
                        onclick="check_agreement2()" />
                    <label
                        for="checkbox2">ある製薬会社がラフマ症候群の治療薬を13種類開発し、調査のためにそれぞれの薬を全国13箇所の病院に配布しました。
                    </label>
                </p>
                
                <p>
                    <input class="checks" type="checkbox" id="checkbox3" style="transform:scale(1.5)"
                        onclick="check_agreement2()" />
                    <label
                        for="checkbox3">治療薬には副作用として発疹が懸念されます。
                    </label>
                </p>

                <p>
                    <input class="checks" type="checkbox" id="checkbox4" style="transform:scale(1.5)"
                        onclick="check_agreement2()" />
                    <label
                        for="checkbox4">各病院にて病気の患者に対して治療薬の投与が行われ、患者が副作用を発症したかどうかが調査されました。
                    </label>
                </p>

                <p>
                    <input class="checks" type="checkbox" id="checkbox5" style="transform:scale(1.5)"
                        onclick="check_agreement2()" />
                    <label
                        for="checkbox5">あなたには、それぞれの薬がどの程度の割合で副作用を引き起こすかを推定してもらいます。  
                    </label>
                </p>

                <p>
                    <input class="checks" type="checkbox" id="checkbox6" style="transform:scale(1.5)"
                        onclick="check_agreement2()" />
                    <label
                        for="checkbox6">副作用の発疹はラフマ症候群の症状とは無関係であること、各病院で投与される薬は<b> それぞれ別の種類の薬 </b>であることに注意してください。  
                    </label>
                </p>
            </form>
        </div>
    </div>
    </p>
    <br>
    <form action="/examine1/" style="text-align:center; display:block;">
        <input type="submit" id='button' value="回答を開始する" disabled>
    </form>
</body>

</html>